.modal {
    width: 24rem;
    color: #33465E;
    background-color: #1D6217;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem rgba(black, 0.1);
    opacity: 0;
    transition: opacity 550ms ease-in-out;

&
__article {
    text-align: center;
    padding: 2.5rem;

.modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

}

&
__footer {
    width: 100%;
    height: 3rem;
}

&
.in {
    opacity: 1;
    top: 50%;
}

}

.button {
    font-weight: bold;
    color: #1D6217;
    padding: 15px 35px;
    border: 2px solid #1D6217;
    transition: all 250ms ease-in-out;

&
:hover {
    color: #1D6217;
    background-color: HSLA(0, 0%, 100%, .2);
}

&
.-full {
    background-color: #33465E;
    width: 100%;
    height: 100%;
}

}

main {
    width: 100vw;
    height: 70vh;
    color: #D4E09B;
    background-color: #D4E09B;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: #FFFFFF;
    background-color: #1D6217;
    font-weight: bold;
    font-size: large;
    height: 100px;
}

header {
    background-color: #D4E09B;
}