<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresar</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/miperfil.css">
    <style>
        p.ex1 {
          padding: 10px 10px 10px 10px;
        }

        </style>
</head>

<body>
<header>
    <p class="ex1">
        <div class="row">
            <div class="col-md-3 .offset-md-3">
                <img src="../static/images/Dr. Stoddard-2.png" alt="Logo de la página" th:src="@{images/Dr. Stoddard-2.png}">
            </div>
            <div class="col-md-3 .offset-md-3">
                <input type="search" placeholder="Buscar...">
            </div>
        </div>
    </p>

</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Mi Perfil - Editar</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="false">Perfil de Usuario</a>
                        </li>
                    </ul>
                    <form>
                        <div class="row mt-5 align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img src="../static/images/perfil.jpg"
                                         alt="..." class="avatar-img rounded-circle"  th:src="@{images/perfil.jpg}"/>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row align-items-center">
                                    <div class="col-md-7">
                                        <h4 class="mb-1">Jesus Coronado</h4>
                                        <p class="small mb-3"><span class="badge badge-dark">Posadas - Misiones</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-7">
                                        <p class="text-muted"> Padre de Familia. </p>
                                    </div>
                                    <div class="col">
                                        <p class="small mb-0 text-muted">Calle Lavalle Nº 222</p>
                                        <p class="small mb-0 text-muted">Posadas - Misiones</p>
                                        <p class="small mb-0 text-muted">(+54) 3764-131481</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname">Nombre</label>
                                <input type="text" id="firstname" class="form-control" placeholder="Nombre"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname">Apellido</label>
                                <input type="text" id="lastname" class="form-control" placeholder="Apellido"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="ejemplo@gmail.com"/>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">Direcccion</label>
                            <input type="text" class="form-control" id="inputAddress5" placeholder="Direcccion"/>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCompany5">Genero</label>
                                <input type="text" class="form-control" id="inputCompany5"
                                       placeholder="Masc/Fem/No Binario/"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState5">Ciudad</label>
                                <select id="inputState5" class="form-control">
                                    <option selected="">Elija...</option>
                                    <option>Posadas</option>
                                    <option>Jardin Amaerica</option>
                                    <option>Otro</option>

                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip5">Codigo Postal</label>
                                <input type="text" class="form-control" id="inputZip5" placeholder="..."/>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword4">Contraseña Anterior</label>
                                    <input type="password" class="form-control" id="inputPassword5"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword5">Nueva Contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword5"/>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword6">Confirmar Contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword6"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Requerimientos para crear una Contraseña</p>
                                <p class="small text-muted mb-2">para crear una contraseña debes cumplir con los
                                    siguientes requisitos:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimo 8 Caracteres</li>
                                    <li>Al menos un caracter numerico</li>
                                    <li>Al menos una letra Mayuscula</li>
                                    <li>No se puede repetir la contraseña anterior</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: #1D6217;">Salvar
                            Cambios
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<footer>
    <br>
    <div class="copyright" align="center">Copyright c 2021 Organizador Familiar</div>
</footer>

</html>