<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <!-- Title -->
    <title>Acerca de | Organizador Familiar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../public/img/favicon.ico" th:href="@{img/favicon.ico}">

    <!-- Template -->
    <link rel="stylesheet" href="../public/graindashboard/css/graindashboard.css" th:href="@{graindashboard/css/graindashboard.css}">
    <style>
      body {
          background-image: url("https://st.depositphotos.com/1007445/1722/v/600/depositphotos_17229019-stock-illustration-seamless-green-leaves-pattern.jpg");
          opacity: 0.95;
      }
  </style>
  </head>

  <body class="">

    <main class="main">

      <div class="content">
        <div class="py-4 px-3 px-md-4">
          <!-- Breadcrumb -->
          <nav class="d-none d-md-block" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/" class="link-muted">&lt; Atrás</a>
              </li>
            </ol>
          </nav>
          <!-- End Breadcrumb -->

          <h1 class="h3 mb-3 mb-md-4">Acerca de Organizador Familiar</h1>

          <!-- Page content -->
          <div class="card mb-3 mb-md-4">
            <div class="card-body">

<div id="lipsum">
<p>
  La aplicación surge con la intención de facilitar y distribuir de manera equitativa las tareas domésticas del hogar, siendo que estas actividades recaen principalmente en las mujeres del grupo familiar, tanto su ejecución como el planeamiento y organización de las mismas.
</p>
<p>
  En esta app, los integrantes del grupo familiar pueden ir cargando las tareas domésticas que hay que realizar, y luego ser asignadas a uno de los integrantes para que la lleve a cabo.
</p>
<p>
   
</p>
<p>
  Acerca de Nosotros
</p>
<p>
   
  <ul>
    <li>Warren Morrison - warrenmorrisn@hotmail.com</li>
    <li>María Soledad Repezza - msrepezza@gmail.com </li>
    <li>Lucas Ruiz - Lucasruiz1612@gmail.com </li>
    <li>Damián Alberto Argañaras - damian.arganaras@gmail.com</li>
</ul>
</p>

</div>

<div align="center">
  <img src="../public/img/Family-Free-Download-PNG.png" th:src="@{img/Family-Free-Download-PNG.png}" style="width: auto; height: 200px;">
</div>
<div>
  <p>Agradecimientos especiales a: </p>
  <img src="../public/img/logoss.png" th:src="@{img/logoss.png}">
</div>
            </div>
          </div>
          <!-- End Page Content -->


        </div>

        <!-- Footer -->
        <footer class="small  p-3 px-md-4 mt-auto">
          <div class="row justify-content-between">
            <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
              <ul class="list-dot list-inline mb-0">
                <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">Warren</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Lucas</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Soledad</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Damián</a></li>
              </ul>
            </div>

            <div class="col-lg text-center mb-3 mb-lg-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-twitter-alt"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-facebook"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-github"></i></a></li>
              </ul>
            </div>

            <div class="col-lg text-center text-lg-right">
              &copy; 2021 - Hecho con amor por "Grupo 6".
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </main>

	<script src="../public/graindashboard/js/graindashboard.js" th:src="@{graindashboard/js/graindashboard.js}"></script>
    <script src="../public/graindashboard/js/graindashboard.vendor.js" th:src="@{graindashboard/js/graindashboard.vendor.js}"></script>
	
  </body>
</html>