<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <!-- Title -->
    <title>Acerca de | Organizador Familiar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../public/img/favicon.ico" th:href="@{img/favicon.ico}">

    <!-- Template -->
    <link rel="stylesheet" href="../public/graindashboard/css/graindashboard.css" th:href="@{graindashboard/css/graindashboard.css}">
  </head>

  <body class="">

    <main class="main">

      <div class="content">
        <div class="py-4 px-3 px-md-4">
          <!-- Breadcrumb -->
          <nav class="d-none d-md-block" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/" class="link-muted">&lt; Atrás</a>
              </li>
            </ol>
          </nav>
          <!-- End Breadcrumb -->

          <h1 class="h3 mb-3 mb-md-4">Acerca de Organizador Familiar</h1>

          <!-- Page content -->
          <div class="card mb-3 mb-md-4">
            <div class="card-body">

<div id="lipsum">
<p>
Aplicación para organizar y dividir de manera equitativa las tareas domésticas. Donde las personas usuarias puedan agregar una lista de tareas a realizar, con los tiempos estimados de duración de cada una de ellas, y que se puedan asignar entre las personas de la casa. 
</p>
<p>
  Se van anotando las tareas a realizar, y cada integrante anota las tareas que fue realizando. Que se pueda juntar estos datos y mostrarla mediante gráficos las estadísticas de quienes realizaron mayor cantidad de tareas o mayor tiempo realizandolas o algo así
</p>
<p>
  Armar un grupo de casa o familia, con los usuarios que son los distintos integrantes del grupo. En la app se pueden cargar las tareas que hay que hacer, ejemplos: ir al super, ir a la verdulería, lavar ropa, etc. (también se podría agregar el tiempo estimado que lleva cada actividad).
</p>
<p>
  Las tareas se asignan a los distintos integrantes del grupo (ya sea que alguien te las asigne o que uno se la autoasigne). Cada vez que un usuario completó una tarea que tenía asignada, la puede marcar como cumplida.
</p>
<p>
  Que permita enlistar las actividades a realizar por el grupo, organizarlas y repartirlas. Y que cada determinado tiempo (ejemplo por semana) muestre las estadísticas de quienes del grupo hicieron más tareas, o paso mas tiempo realizando actividades.
</p>

</div>
            </div>
          </div>
          <!-- End Page Content -->


        </div>

        <!-- Footer -->
        <footer class="small  p-3 px-md-4 mt-auto">
          <div class="row justify-content-between">
            <div class="col-lg text-center text-lg-left mb-3 mb-lg-0">
              <ul class="list-dot list-inline mb-0">
                <li class="list-dot-item list-dot-item-not list-inline-item mr-lg-2"><a class="link-dark" href="#">Warren</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Lucas</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Soledad</a></li>
                <li class="list-dot-item list-inline-item mr-lg-2"><a class="link-dark" href="#">Damián</a></li>
              </ul>
            </div>

            <div class="col-lg text-center mb-3 mb-lg-0">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-twitter-alt"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-facebook"></i></a></li>
                <li class="list-inline-item mx-2"><a class="link-muted" href="#"><i class="gd-github"></i></a></li>
              </ul>
            </div>

            <div class="col-lg text-center text-lg-right">
              &copy; 2021 - Hecho con amor por "Grupo 6".
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </div>
    </main>

	<script src="../public/graindashboard/js/graindashboard.js" th:src="@{graindashboard/js/graindashboard.js}"></script>
    <script src="../public/graindashboard/js/graindashboard.vendor.js" th:src="@{graindashboard/js/graindashboard.vendor.js}"></script>
	
  </body>
</html>