<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grupos</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/grupos.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="C:\xampp\htdocs\aplicacion familiar\Front\2da_parte\assets\image\Dr. Stoddard-2.png" alt="">
            <input type="search" placeholder="Buscar...">
        </div>

    </header>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-12 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="C:\xampp\htdocs\aplicacion familiar\Front\2da_parte\assets\image\perfil.jpg" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h6 class="f-w-600">Jesus Coronado</h6>
                                    <p>Grupo / Mis Grupos</p>
                                    <div class="col-md-12">
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon awesome-chart-line.png"> Estadisticas
                                        <br>
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon ionic-ios-star-outline.png"> Actividades
                                        <br>
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon material-people-outline.png"> Mis Grupos
                                        <br>
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon awesome-layer-group.png"> Notificaciones
                                        <br>
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon feather-calendar.png"> Calendario
                                        <br>
                                        <img src="C:\xampp\htdocs\aplicacion familiar\Proyecto Silicon Misiones\Iconos\Icon awesome-random.png"> Modo Aleatorio

                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Grupo 1</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Editar/Confirmar</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Integrantes</p>
                                            <h6 class="text-muted f-w-400">Matias M.</h6>
                                            <h6 class="text-muted f-w-400">Juan J.</h6>
                                            <h6 class="text-muted f-w-400">Martin P.</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Grupo 2 </h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Editar/Confirmar</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Integrantes</p>
                                            <h6 class="text-muted f-w-400">Jorge M.</h6>
                                            <h6 class="text-muted f-w-400">Pablo J.</h6>
                                            <h6 class="text-muted f-w-400">Marcelo P.</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="button" value="Nuevo Grupo" style="color:white ; border-radius: 1rem; background-color: darkgreen;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <br>
    <div class="copyright" align="center">Copyright c 2021 Organizador Familiar </div>
</footer>

</html>